<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

	<div th:fragment="header_menu">

		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a th:href="@{/}" class="navbar-brand">
				<img th:src="@{${site_logo}}" alt="">
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" href="">Career</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" href="">Payments</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" href="">Shipping &amp; Delivery</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" th:href="@{/login}">Login</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" th:href="@{/register}">Register</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" href="">Contact</a>
					</li>

				</ul>
			</div>
		</nav>

	</div>

	<div th:fragment="search_nav" class="row">
		<div class="col-md">
			<th:block sec:authorize="isAuthenticated()">
				<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
					<input type="submit" value="logout">
				</form>
			</th:block>

			<nav class="navbar navbar-expand-sm navbar-light">


				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<form class="form-inline d-flex">
						<input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Keyword"
							th:value="${keyword}" required />

						<input type="submit" value="Search" class="btn btn-outline-success" />

					</form>
					<ul class="navbar-nav mr-auto">
						<th:block sec:authorize="isAuthenticated()">
							<li class="nav-item active">
								<b><a class="nav-link" th:href="@{/customer}" sec:authentication="principal.fullName"></a></b>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Addresses</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="#">Questions</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="#">Reviews</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="#">Orders</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="#">Cart</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="javascript: document.logoutForm.submit();">logout</a>
							</li>
							
						</th:block>
					</ul>

				</div>
			</nav>

		</div>
	</div>

	<div th:fragment="footer_menu">
		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bottomNavbar"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="bottomNavbar">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" href="">About Us</a>
						</li>

						<li class="nav-item">
							<a class="nav-link active" href="">Privacy Notice</a>
						</li>

						<li class="nav-item">
							<a class="nav-link active" href="">Returns &amp; Refunds</a>
						</li>

					</ul>
				</div>
			</nav>
		</div>
		<div th:fragment="footer" class="text-center m-3">
			<p>[[${copyright}]]</p>
		</div>
	</div>
</body>

</html>