<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: page_head('Error - Shopme')" />

<body>
	<div th:replace="navigation :: header_menu" />
	<div class="container-fluid">

		<div>
			<h1>Sorry, You don't have permission to access this page</h1>
		
		</div>
		
		<div th:replace="navigation :: footer_menu" />
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>