<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Settings - shopme Admin')" />


<body>

	<div th:replace="navigation :: menu" />

	<div class="container-fluid">

		<div class="text-center">
			<h2>Site Settings</h2>

		</div>

		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="settingTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab"
					aria-controls="home" aria-selected="true">General</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#countries" role="tab"
					aria-controls="profile" aria-selected="false">Countries</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="messages-tab" data-toggle="tab" href="#states" role="tab"
					aria-controls="messages" aria-selected="false">States</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="details-tab" data-toggle="tab" href="#mailServer" role="tab"
					aria-controls="settings" aria-selected="false">Mail Server</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" id="shipping-tab" data-toggle="tab" href="#mailTemplates" role="tab"
					aria-controls="settings" aria-selected="false">Mail Templates</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">

			<div class="tab-pane active p-3" id="general" role="tabpanel" aria-labelledby="home-tab">
				<div th:replace="settings/general :: content" />
			</div>

			<div class="tab-pane p-3" id="countries" role="tabpanel" aria-labelledby="profile-tab">
				<div th:replace="settings/countries :: content" />
			</div>

			<div class="tab-pane p-3" id="states" role="tabpanel" aria-labelledby="messages-tab">
				<div th:replace="settings/states :: content" />
			</div>

			<div class="tab-pane p-3" id="mailServer" role="tabpanel" aria-labelledby="settings-tab">
				<div th:replace="settings/mail_server :: content" />
			</div>

			<div class="tab-pane p-3" id="mailTemplates" role="tabpanel" aria-labelledby="settings-tab">
				<div th:replace="settings/mail_templates/mail_templates :: content" />
			</div>

		</div>

		<div class="toast justify-content-center d-flex" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
			<div class="toast-body" id="toastMessage"></div>
		</div>

		<div th:replace="fragments :: footer" />

	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}">
	</script><script th:src="@{/richtext/richtext.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/countries_settings.js}"></script>
	<script th:src="@{/js/states_settings.js}"></script>

	<script>
		const contextPath = "[[@{/}]]";
		const csrfHeaderName = "[[${_csrf.headerName}]]";
		const csrfValue = "[[${_csrf.token}]]";
		
		
		$(document).ready(function () {
			$('#settingTab a').on('click', function (e) {
				e.preventDefault()
				$(this).tab('show')
			});
			
			$('#mailTemplateTab a').on('click', function (e) {
				e.preventDefault()
				$(this).tab('show')
			});
			
			$("#customer_verify_content").richText();
		})
	</script>
</body>

</html>